{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}LF Junction Tuition Center - Register{% endblock %}
{% block style %}<link rel="stylesheet" href="{{url_for('static', filename='logo.png')}}">{% endblock %}
{% block content %}
<script>
    function myFunction() {
      confirm ("Register as tutor or tutee?");
    }
</script>

<form method="POST" action="">
    <img src="{{url_for('static', filename='logo.png')}}" style="float: center;">
    <h2 class="display-4">New Admin</h2>
    <div class="form-group">
        {{ wtf.form_field(form.username, class="form-control") }}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.password, class="form-control") }}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.firstname, class="form-control") }}
    </div>
    <div class="form-group">
        {{ wtf.form_field(form.lastname, class="form-control") }}
    </div>
    <div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>

{% endblock %}

