{% extends "studentBase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}LF Junction Tuition Center - Quiz{% endblock %}

{% block content %}
<div style="width:850px;height:70px;border:1px solid #000;margin-left: auto;margin-right: auto;display: block; font-size: 30px;margin-top:20px;">
    <img src="{{url_for('static', filename='logo.png')}}" style="width:70px;height:70px;">
    Secondary School English Test 1
</div>
<div style="width:850px;height:12/0px;border:1px solid #000;margin-left: auto;margin-right: auto;display: block;margin-top: 30px;">

    <table>
        <tbody>
        {% for quiz in quizs_list %}
            <tr>
                <td>{{ quiz.get_question() }}</td>
            </tr>
            <tr>
                <td>(a) {{ quiz.get_choice1() }}</td>
            </tr>
            <tr>
                <td>(b) {{ quiz.get_choice2() }}</td>
            </tr>
            <tr>
                <td>(c) {{ quiz.get_choice3() }}</td>
            </tr>
            <tr>
                <td>(d) {{ quiz.get_choice4() }}</td>
            </tr>
            <tr>
                <td>
                    <form method="POST" action="">
                        {{ render_field(form.answer, class="form-control") }}
                    </form>
                </td>
            </tr>
            <tr>
                <td>-----------------------------------------------------------------------------</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
